{# https://tailwindcss.com/plus/ui-blocks/application-ui/elements/dropdowns#component-f8a14da22f26a67757b19f2fe3ca00ed #}
{% if is_adjustable %}
<script>
    function initAngleButton()
    {
        return {
            angle: Alpine.$persist(0),
            changeAngle(angle) {
                this.angle = angle;
                this.$dispatch('angle', this.angle);
            }
        }
    }
</script>
<el-dropdown class="inline-block" x-data="initAngleButton()">
    <button class="relative rounded-full p-1 text-fuchsia-200 hover:text-white focus:outline-2 focus:outline-offset-2 focus:outline-white">
        <span class="absolute -inset-1.5"></span>
        <span class="sr-only">Angle</span>
        <div class="size-6" x-text="angle + '°'"></div>
    </button>

    <el-menu anchor="bottom end" popover class="w-32 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in dark:divide-white/10 dark:bg-gray-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
        <div class="py-1">
            {% for i in 0..8 %}
            <a href="#" @click="changeAngle({{ i * 5 }}); angleMenuOpen = false; return false;" class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:text-gray-900 focus:outline-hidden dark:text-gray-300 dark:focus:bg-white/5 dark:focus:text-white">{{ i * 5 }} °</a>
            {% endfor %}
        </div>
    </el-menu>
</el-dropdown>
{% endif %}