{% extends 'base.html.twig' %}

{% block navigation_title %}Log Accent{% endblock %}

{% block navigation_button %}
<button type="button" @click="location.href='{{ path('route_view', {id: route_entity.id}) }}'" class="relative inline-flex items-center justify-center rounded-md bg-fuchsia-600 p-2 text-fuchsia-200 hover:bg-fuchsia-500/75 hover:text-white focus:outline-2 focus:outline-offset-2 focus:outline-white dark:bg-fuchsia-800 dark:hover:bg-fuchsia-700/75">
    <span class="absolute -inset-0.5"></span>
    <span class="sr-only">Back {{ route_entity.name }}</span>
    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
    </svg>
</button>
{% endblock %}

{% block navigation_buttons %}
<button @click="document.getElementById('log_form').submit()" type="button" class="relative rounded-full p-1 text-fuchsia-200 hover:text-white focus:outline-2 focus:outline-offset-2 focus:outline-white">
    <span class="absolute -inset-1.5"></span>
    <span class="sr-only">Save Log</span>
    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
    </svg>
</button>
{% endblock %}

{% block main %}
<div class="mx-auto max-w-2xl overflow-hidden bg-white shadow-sm sm:rounded-lg dark:bg-gray-800/50 dark:shadow-none dark:outline dark:-outline-offset-1 dark:outline-white/10">
    <div class="px-4 py-5 sm:p-6">
        {{ form(form) }}
    </div>
</div>
{% endblock %}