{% extends 'base.html.twig' %}

{% block navigation_title %}Settings{% endblock %}

{% block navigation_buttons %}
<button type="button" class="relative rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-primery-500 focus:ring-offset-2" onclick="document.getElementById('setting_form').submit()">
    <span class="absolute -inset-1.5"></span>
    <span class="sr-only">Save Settings</span>
    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
    </svg>
</button>
{% endblock %}

{% block main %}
<div class="mx-auto max-w-2xl py-12">
    {{ form_start(form, {method: 'POST', action: path('setting'), attr: {id: 'setting_form'}}) }}
    {{ form_end(form) }}
</div>
{% endblock %}